/ContactManagerApplication/ContactManagerDataModule/nbproject/private/
/ContactManagerApplication/ContactManagerUIModule/nbproject/private/
/ContactManagerApplication/build/
/ContactManagerApplication/ContactManagerUIModule/build/
/ContactManagerApplication/ContactManagerDataModule/build/